:root {
  --primary-color: #f8f8f8; /* Cor de fundo principal (claro) */
  --secondary-color: #e0e0e0; /* Fundo da sidebar (claro) */
  --text-color: #333333; /* Texto (claro) */
  --header-footer-color: #f8f8f8; /* Fundo do Header e Footer (claro) */
  --border-color: rgba(0, 0, 0, 0.1); /* Bordas e sombras (claro) */
}

[data-theme="dark"] {
  --primary-color: #1a202c; /* Fundo principal (escuro) */
  --secondary-color: #2d3748; /* Fundo da sidebar (escuro) */
  --text-color: #f8f8f8; /* Texto (escuro) */
  --header-footer-color: #2d3748; /* Fundo do Header e Footer (escuro) */
  --border-color: rgba(255, 255, 255, 0.1); /* Bordas e sombras (escuro) */
}

/* Resetting body margins and padding */
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f8f8f8; /* Default light background color */
  color: #333; /* Default text color */
}

/* Ensuring full height for html and root container */
html, #root {
  height: 100%; /* Makes the content occupy the full height */
}

/* Basic reset for default browser styles */
* {
  margin: 0; /* Remove all default margins */
  padding: 0; /* Remove all default paddings */
  box-sizing: border-box; /* Include padding and borders in element's total width/height */
}
