.sidebar {
  width: 250px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 2px 0 4px var(--border-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  height: calc(100vh - 100px);
  position: absolute;
  top: 0;
  left: 0;
}

.open {
  transform: translateX(0);
}

.closeButton {
  font-size: 1.5rem;
  color: var(--text-color);
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}


.nav {
  flex-grow: 1;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: var(--border-color);
}

.icon {
  margin-right: 0.5rem;
}

.themeButton {
  display: none; /* Esconde o botão por padrão */
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.themeButton:hover {
  background-color: var(--border-color);
}

@media (max-width: 768px) {
  .themeButton {
    display: flex; /* Mostra o botão em telas menores que 769px */
  }
}


@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0);
    position: relative;
    box-shadow: none;
  }

  .closeButton {
    display: none;
  }
}
