.header {
  height: 60px; /* Altura fixa */
  background-color: var(--header-footer-color); /* Cor adaptada para dark/light */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espaçamento entre elementos */
  padding: 0 1rem;
  box-shadow: 0 2px 4px var(--border-color); /* Sombras variáveis */
  z-index: 1000;
}

.menuButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color); /* Texto adaptável */
  cursor: pointer;
}

@media (min-width: 768px) {
  .menuButton {
    display: none; /* Esconde botão no desktop */
  }
}
