.footer {
  height: 40px;
  background-color: var(--secondary-color); 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 0 -2px 4px var(--border-color); 
  color: var(--text-color); 
}
